<button type="button" class="_call icon icon-call"></button>
<button type="button" class="_hold icon <%-defaultHoldIcon%>"></button>
<button type="button" class="_hangup icon icon-hangup"></button>
<span class="_duration"></span>
