<select class="_child-view-container _view">
    <option value="custom" disabled>Save current...</option>
</select><button type="button" class="_save button">Save</button><button class="_delete button">Delete</button>
