<div class="arrow_box">
    <form is="x-no-autocomplete" class="save-view">
    	<p><b><%-title%></b></p>
    	<select name="existing_name"><%
            //{fsdfsdfsdfafas312321312}
            if (showDefaultViewFirst) {
                %><option value="My View">My View</option><%
            }
            _.each(filter_options, function (filterOption) {
                if (filterOption.id && filterOption.id.indexOf(prefix) === 0) {
                    if (showDefaultViewFirst && filterOption.id === prefix + 'My View') {
                        return;
                    }

                    %><option value="<%-filterOption.id%>"><%-removePrefix(filterOption.id)%></option><%
                }
            });
            %><option value="">Choose a new name...</option>
    	</select><br>
    	<input type="text" name="new_name" maxlength="28" placeholder="New name..."><br>
    	<input type="submit" value="save" class="button"><br>
    	<input type="button" value="cancel" class="_cancel button cancel">
        <div class="_error hidden">Sorry, that's not a valid name. Please try another name.</div>
    </form>
</div>