<div class="section content profile clearfix">
    <div class="col col-12">
        <h2>Wachtwoord aanpassen</h2>
        <form>
            <label>
                Oud wachtwoord<br>
                <input type="password" name="old_password">
            </label>
            <label>
                Nieuw wachtwoord<br>
                <input type="password" name="new_password" placeholder="Minimaal 8 tekens">
            </label>
        </form>
    </div>
</div>

<div class="toolbar">
    <div class="section clearfix">
        <div class="col col-12">
            <button type="button" class="_save">Opslaan</button>
        </div>
    </div>
</div>
