<div class="section content clearfix">
    <div class="col col-12">
        <h2><%-t('user.view.edit.title')%></h2>
        <form>
            <label>
                <%-t('user.field.username.label')%><br>
                <input type="text" name="username" placeholder="<%-t('user.field.username.placeholder')%>" disabled>
            </label>
            <label>
                <%-t('user.field.groups.label')%>
                <select name="groups" multiple></select>
            </label>
            <label>
                <%-t('user.field.password.label')%>
                <input type="password" name="password" placeholder="<%-t('user.field.password.placeholder')%>">
            </label>
        </form>
    </div>
</div>
<div class="toolbar">
    <div class="section">
        <div class="col col-12">
            <button type="button" class="_save"><%-t('user.saveButton')%></button>
        </div>
    </div>
</div>
