<div class="login-form">
    <h2><%-t('user.view.forgotPassword.title')%></h2>
    <form is="x-no-autocomplete">
        <label class="last">
            <span class="label"><%-t('user.field.username.label')%></span>
            <input type="text" name="username" autocomplete="off">
        </label>
        <input class="button" type="submit" value="<%-t('user.sendResetLink')%>">
    </form>
    <div class="_error-message hide">
        <a href=""><%-t('user.sendResetCodeEmailError')%></a>
    </div>
    <div class="_success-message hide">
        <p><%-t('user.sendResetCodeEmailSuccess')%></p>
        <a href=""><%-t('user.backToLogin')%></a>
    </div>
</div>
