<div class="section content profile clearfix">
    <div class="col col-09">
        <h2><%-t('user.view.profile.title')%></h2>
    </div>
    <div class="col col-03 sidebar"><%
        if (config.IS_MASQUERADED) {
            %><button type="button" class="_unmasquerade"><%-t('user.unmasqueradeButton')%></button><%
        } else {
            %><a class="button" href="#user/logout"><%-t('user.navLogout')%></a><%
        }
    %></div>
</div>
